body  {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(196, 227, 253);
}

.debug {
  border: 1px solid black;
}

.container_sp {
  background-color: goldenrod;
  width: 600px;
  height: 600px;
  margin: 40px auto;
  position: relative;
}

.square-easy.active,
.square-medium.active,
.square-hard.active {
  background-color: rgb(174, 116, 228);
}

.square-easy,
.square-medium,
.square-hard {
  border: 2px solid white;
  background-color: rgb(43, 116, 226);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(251, 255, 0);
  cursor: pointer;
}

.square-easy {
  width: calc(100% / 10);
}


.square-medium {
  width: calc(100% / 9);
  height: calc(100 / 9);
}

.square-hard {
  width: calc(100% / 7);
  height: calc(100 / 7);
}

.bomb {
  background-color: rgb(43, 116, 226);
}

.activeted {
  background-color: red;
}

#gameover {
  color: rgb(0, 0, 0);
  padding: 2rem;
  font-size: 3rem;
  position: absolute;
  top: 0;
  left: 0;

}